<header class="header"> 
	<div class="container">
		<div class="header__nav">
			<div class="logo__wrapper header__logo-wrapper">
				<img src="/icons/svg/rumtibet-logo.svg" alt="logo" class="logo__img">
				<span class="logo__company-name fw-400 fz-18px white-clr">{{ companyNmae }}</span>
			</div>
			<nav class="header__nav-links fz-18px fw-600 white-clr">
				@for (navigation of navigations; track $index) {
					<a 
					  href="#"
						class="header__nav-link"
						id="main-page-move-link"
						[routerLink]="navigation.url"
						routerLinkActive="header__nav-link_active"
						[routerLinkActiveOptions]="{ exact: true }"
					>
					  {{navigation.title}}
					</a>
				}
			</nav>
			<button class="header__btn" id="consultation-order-btn">Консультация</button>
			<div class="clicker-date__wrapper">
				<div class="clicker-date__info">
					@if (isClicker) {
						<div class="clicker-date__clicker-container">
							<button class="clicker-date__plus" (click)="counter += 1">+</button>
							<span class="clicker-date__counter">{{ counter }}</span>
							<button class="clicker-date__minus" (click)="counter -= 1" [disabled]="counter <= 0">-</button>
						</div>
					} @else {
						<p class="clicker-date__date">{{ dateToday }}</p>
					}
				</div>
				<button class="clicker-date__btn" (click)="isClicker = !isClicker">{{ isClicker ? 'Показать дату' : 'Показать кликер'
					}}
				</button>
			</div>
		</div>
		<h1 class="header__title white-clr fw-400">
			Насладись прогулкой в горах <br>
			с командой единомышленников
		</h1>
		<div class="tour-booking">
			<form class="tour-booking__form" #form="ngForm" (ngSubmit)="onSubmit()">

				<div class="tour-booking__input-wrapper">
					<div class="tour-booking__icon-container">
						<img src="/icons/svg/ep-arrow-down-icon.svg" alt="Default Icon" class="tour-booking__arrow-icon">
						<select 
							id="tour-location-select"
							name="tour-location" 
							class="tour-booking__input"
							[(ngModel)]="tourLocation"
							required
							ngModel
						>
							<option value="" disabled>Локация для тура</option>
							<option value="Gon-Kong">Гон Конг</option>
							<option value="Vetnam">Вьетнам</option>
							<option value="Mongolia">Монголия</option>
						</select>
					</div>
					<label for="tour-location" class="tour-booking__select-subtitle">выберите из списка</label>
				</div>

				<div class="tour-booking__input-wrapper">
					<input 
						type="date" 
						name="date" 
						placeholder="Дата похода" 
						required
						class="tour-booking__input tour-booking__input-custom" 
						(click)="($event.target.showPicker())"
						id="tour-date-input" 
						ngModel
					>
					<label for="location" class="tour-booking__select-subtitle">укажите дату</label>
				</div>

				<div class="tour-booking__input-wrapper">
					<div class="tour-booking__icon-container">
						<img src="/icons/svg/ep-arrow-down-icon.svg" alt="Default Icon" class="tour-booking__arrow-icon">
						<select 
							id="participants-select"
							name="participants"
							class="tour-booking__input" 
							[(ngModel)]="participants"
							required 
							ngModel
						>
							<option value="" disabled>Участники</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
						</select>
					</div>
					<label for="participants-select" class="tour-booking__select-subtitle">выберите из списка</label>
				</div>

				<button class="tour-booking__form-btn" id="program-find-btn" [disabled]="form.invalid" type="submit">
					Найти программу
				</button>
				<div class="tour-booking__input-wrapper tour-booking__live-input">
					<input 
						type="text" 
						placeholder="Введите текст" 
						class="tour-booking__input tour-booking__input-custom"
						(click)="($event)" 
						id="tour-date-input" 
						#liveInput
					>
					<span class="tour-booking__live-text">{{ liveInput.value }}</span>
				</div>
				
			</form>
		</div>
	</div>
</header>