@use '../../assets/mixins';

.header {
	padding-top: 16px;
	padding-bottom: 82px;
	background: url('/images/mountains-bg.jpg') center/cover no-repeat;
	min-height: 985px;

	&__nav {
		height: 72px;
		display: flex;
		align-items: center;
		margin-bottom: 463px;
		position: relative;
	}

	&__logo-wrapper {
		margin-right: 212px;
	}

	&__nav-links {
		margin-right: 49px;
		display: flex;
		align-items: center;
	}

	&__nav-link {
		&+& {
			margin-left: 24px;
		}

		&:hover {
			cursor: pointer;
			border-bottom: 1px solid var(--white-color);
		}

		&_active {
			text-decoration: underline
		}
	}

	&__btn {
		@include mixins.btn(157px, 44px);
		margin-left: auto ;
	}

	&__title {
		font-size: 50px;
		line-height: 150%;
		text-transform: uppercase;
		margin-bottom: 41px;
	}

	&__title_show {
		display: block;
	}
}

.clicker-date {

	&__wrapper {
		position: absolute;
		right: 0;
		bottom: -50px;

		display: flex;
		align-items: center;
	}

	&__info {
		margin-right: 50px;
		font-weight: 600;
		font-size: 24px;
		color: var(--white-color);
	}

	&__clicker-container {
		button {
			width: 1em;
			background: inherit;
			color: inherit;
			font-size: inherit;
			transition: background-color .5s ease;
			border-radius: 15px;
			background-color: var(--secondary-greenish-color);

			&:hover {
				background-color: #135757;
			}
		}
	}

	&__counter {
		margin: 0 16px;
	}

	&__minus {
		&:disabled {
			background-color: #224e4e !important;
			color: gray !important;
		}
	}

	&__date {
		color: inherit;
		font-size: inherit;
	}

	&__btn {
		@include mixins.btn(157px, 44px);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}

.tour-booking {
	min-height: 161px;
	padding: 40px 42px;
	border-radius: 10px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.2);
	position: relative;

	&__form {
		display: flex;
	}

	&__input-wrapper {
		margin-right: 24px;
		display: flex;
		flex-direction: column;
		color: var(--white-color);
	}

	&__icon-container {
		position: relative;
	}

	&__input {
		width: 270px;
		height: 52px;
		padding: 0px 16px 0px 16px;
		margin-bottom: 8px;
		background: transparent;
		border-radius: 8px;
		border: 1px solid var(--white-color);
		color: var(--white-color);
		cursor: pointer;

		option {
			color: darkblue;
		}
	}

	&__arrow-icon {
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-70%);
	}

	&__input-custom::before {
		content: url('/icons/svg/formkit-date-icon.svg');
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__select-subtitle {
		padding-left: 8px;
	}

	&__form-btn {
		@include mixins.btn(213px, 52px, var(--black-color), var(--white-color));

		&:disabled {
			color: rgb(0, 0, 0);
			background-color: rgba(219, 219, 219, 0.397);
		}
	}

	&__live-input {
		position: absolute;
		bottom: -70px;
		display: flex;

		input::placeholder {
			color: white;
		}

		&__live-text {
			width: 300px;
			height: 20px;
			border-bottom: 1px solid white;
		}
	}
}