<footer class="footer">
	<div class="container">
		<div class="mailing-list">
			<div class="mailing-list__left-content">
				<div class="mailing-list__subtitle subtitle">актуально</div>
				<div class="mailing-list__title title">
					Получайте полезные <br> рассылки о путешествиях
				</div>
			</div>
			<div class="mailing-list__right-content">
				<label for="mailing-list-email-input" class="mailing-list__label">Введите e-mail адрес</label>
				<form class="mailing-list__form">
					<input 
						type="email"
						placeholder="name@domain.com"
						id="mailing-list-email-input"
						name="mailing-list-email-input"
						class="mailing-list__email-input"
					>
					<button 
						class="mailing-list__btn" 
						id="mailing-list-btn" 
						type="button"
					>
						Подписаться на новости
					</button>
				</form>
				<p class="personal-data-processing-policies fw-600 fz-14px">
					подписываясь на новости, вы автоматически соглашаетесь с 
					<a href="#" class="text-link" id="personal-data-processing-policies"> условиями <br> обработки персональных данных </a> 
					и <a href="#" class="text-link" id="rules-for-advertising-newsletters"> правилами рекламных рассылок </a>
				</p>
			</div>
		</div>
		<div class="footer-content__wrapper">
			<div class="footer__company-sources-info">
				<h2 class="footer-title">
					Компания <span class="upper-case-style">«{{ companyNmae }}»</span>
				</h2>
				<div class="footer__company-description">
					Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
					Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.
				</div>
				<div class="footer__communication-wrapper">
					<a href="mailto:info@domain.com" class="footer__communication-email" id="communication-email">info@domain.com</a>
					<a href="tel:+71234567890" class="footer__communication-number" id="communication-number">+7 (123) 456-78-90</a>
				</div>
				<div class="footer__social-networks-wrapper">
					<a href="#" class="footer__social-network-link" id="company-tg">
						<img src="/icons/svg/footer/tg-icon.svg" alt="tg-social-network">
					</a>
					<a href="#" class="footer__social-network-link" id="company-vk">
						<img src="/icons/svg/footer/vk-icon.svg" alt="tg-social-network">
					</a>
					<a href="#" class="footer__social-network-link" id="company-pinterest">
						<img src="/icons/svg/footer/pinterest-icon.svg" alt="tg-social-network">
					</a>
					<a href="#" class="footer__social-network-link" id="company-skype">
						<img src="/icons/svg/footer/skype-icon.svg" alt="tg-social-network">
					</a>
				</div>
			</div>
			<div class="footer__our-services-wrapper">
				<h2 class="footer-title">Наши услуги</h2>
				<ul class="footer__our-services-list">
					<li class="footer__list-item" id="our-service-list-item">Прогулки в горы летом</li>
					<li class="footer__list-item" id="our-service-list-item">Зимние походы в горы</li>
					<li class="footer__list-item" id="our-service-list-item">Посещение храмов в горах</li>
					<li class="footer__list-item" id="our-service-list-item">Экстремальные виды туризма</li>
					<li class="footer__list-item" id="our-service-list-item">Походы в джунглях Амазонии</li>
					<li class="footer__list-item" id="our-service-list-item">Поездка в Африку</li>
				</ul>
			</div>
			<div class="footer__traveling-wrapper">
				<div class="footer__traveling footer-title">Важно для путешествий</div>
				<ul class="footer__traveling-list">
					<li class="footer__list-item">Как собрать в долгий поход?</li>
					<li class="footer__list-item">Жизненно важные предметы для похода</li>
					<li class="footer__list-item">Медицинская страховка, гарантии безопасности</li>
					<li class="footer__list-item">Если вы врач - загляните сюда</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="footer-privacy-policy">
	<div class="container">
		<div class="footer-privacy-policy__wrapper">
			<div class="footer-privacy-policy__company-info">ИП Константинопольский К.К., 2023</div>
			<a href="#" class="footer-privacy-policy__processing text-link" id="footer-privacy-policy">Политика обработки персональных данных</a>
		</div>
	</div>
</div>