
<div class="users-page__wrapper">
	<div class="container">
		<h1 class="users-page__title">Список Пользователей</h1>

		<div class="users-page__cards-container">
			@let users = (users$ | async);
			@if (users?.length) {
				@for (user of users; track user.id) {
					<app-user-card [user]="user"></app-user-card>
				}
			} @else {
				<ng-container 
					*ngTemplateOutlet="
						usersErrorMessage; 
						context: { message: 'Нет пользователей для отображения' }
					"
				>
				</ng-container>
			}
		</div>
	</div>
</div>

<ng-template #usersErrorMessage let-errorMessage="message">
	<div class="users-page__not-have-users-container">
		<h2 class="users-page__not-have-users-title">{{ errorMessage }}</h2>
	</div>
</ng-template>


