.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-form {
	padding: 15px;
	display: flex;
	flex-direction: column;
	width: 500px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: -10px 10px 15px 0 #b3b3b3;
	margin-bottom: 20px;

	&__input {
		width: 100%;
		height: 30px;
		font-weight: 600;
		font-size: 16px;

		margin-bottom: 15px;
		border-bottom: 1px solid #D4A373;
		margin-bottom: 20px;
	}
}

.user-form-btn {
	width: 150px;
	height: 30px;
	text-align: center;
	font-weight: 600;
	background-color: #D4A373;
	color: #000000;
	border-radius: 4px;
	transition: all 0.5s ease;
	margin-right: 20px;
	cursor: pointer;

	&:hover {
		background-color: #a8825c;
		color: #fff;
	}

	&:disabled {
		background-color: rgba(185, 185, 185, 0.801);
		pointer-events: none;
	}
}

