@mixin btn($width, $height, $text-color: var(--white-color), $bg-color: var(--secondary-greenish-color)) {
	width: $width;
	height: $height;
	background-color: $bg-color;
	color: $text-color;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
}

.logo {
	&__wrapper {
		width: 137px;
		height: 72px;
		cursor: pointer;
	}

	&__img {
		width: 100%;
	}

	&__company-name {
		display: block;
		text-align: center;
		letter-spacing: 6px;
	}

}

.logo-img {
	display: block;
	width: 100%;
}

.header {
	padding-top: 16px;
	padding-bottom: 82px;
	background: url('/images/mountains-bg.jpg') center/cover no-repeat;
	min-height: 985px;

	&__nav {
		height: 72px;
		display: flex;
		align-items: center;
		margin-bottom: 463px;
	}

	&__logo-wrapper {
		margin-right: 212px;
	}

	&__nav-links {
		margin-right: 49px;
		display: flex;
		align-items: center;
	}

	&__nav-link {
		&+& {
			margin-left: 24px;
		}

		&:hover {
			cursor: pointer;
			border-bottom: 1px solid var(--white-color);
		}
	}

	&__btn {
		@include btn(157px, 44px);
	}

	&__title {
		font-size: 50px;
		line-height: 150%;
		text-transform: uppercase;
		margin-bottom: 41px;
	}

	&__title_show {
		display: block;
	}
}

.tour-booking {
	min-height: 161px;
	padding: 40px 42px;
	border-radius: 10px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.2);

	&__form {
		display: flex;
	}

	&__input-wrapper {
		margin-right: 24px;
		display: flex;
		flex-direction: column;
		color: var(--white-color);
	}

	&__icon-container {
		position: relative;
	}

	&__input {
		width: 270px;
		height: 52px;
		padding: 0px 16px 0px 16px;
		margin-bottom: 8px;
		background: transparent;
		border-radius: 8px;
		border: 1px solid var(--white-color);
		color: var(--white-color);
		cursor: pointer;

		option {
			color: darkblue;
		}
	}

	&__arrow-icon {
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-70%);
	}

	&__input-custom::before {
		content: url('/icons/svg/formkit-date-icon.svg');
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__select-subtitle {
		padding-left: 8px;
	}

	&__form-btn {
		@include btn(213px, 52px, var(--black-color), var(--white-color));
	}
}

.test-control-flow {
	width: 1140px;
	border: 1px solid black;
	margin: 0 auto;

	&__card {
		margin-bottom: 20px;
		border: 1px solid purple;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #91f091;
	}

	&__img {
		width: 320px;
	}
}

.active {
	color: white;
	background: #943434;
}

.main {}

.about-campaign {
	padding-top: 100px;
	padding-bottom: 100px;

	&__wrapper {
		display: flex;
	}

	&__left-media-wrapper {
		min-width: 480px;
		min-height: 526px;
		margin-right: 120px;
		position: relative;
	}

	&__img {
		max-width: 350px;
		height: 400px;
		overflow: hidden;
		border-radius: 25px;
	}

	&__video-container {
		width: 350px;
		height: 400px;
		overflow: hidden;
		border-radius: 25px;
		position: absolute;
		top: 126px;
		left: 130px;

		&::after {
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 25px;
			background: url('/icons/svg/video-play-icon.svg') 50%/14px 15px no-repeat;
			background-color: rgba(253, 253, 253, 0.6);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__video {
		min-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	&__right-program-wrapper {
		padding: 64px 0;
	}

	&__subtitle {}

	&__title {}

	&__historical-descr {}

	&__btn {
		@include btn(200px, 52px);
	}
}