@mixin btn($width, $height, $text-color: var(--white-color), $bg-color: var(--secondary-greenish-color)) {
	width: $width;
	height: $height;
	background-color: $bg-color;
	color: $text-color;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
}

.logo {
	&__wrapper {
		width: 137px;
		height: 72px;
		cursor: pointer;
	}

	&__img {
		width: 100%;
	}

	&__company-name {
		display: block;
		text-align: center;
		letter-spacing: 6px;
	}

}

.logo-img {
	display: block;
	width: 100%;
}

.header {
	padding-top: 16px;
	padding-bottom: 82px;
	background: url('/images/mountains-bg.jpg') center/cover no-repeat;
	min-height: 985px;

	&__nav {
		height: 72px;
		display: flex;
		align-items: center;
		margin-bottom: 463px;
		position: relative;
	}

	&__logo-wrapper {
		margin-right: 212px;
	}

	&__nav-links {
		margin-right: 49px;
		display: flex;
		align-items: center;
	}

	&__nav-link {
		&+& {
			margin-left: 24px;
		}

		&:hover {
			cursor: pointer;
			border-bottom: 1px solid var(--white-color);
		}
	}

	&__btn {
		@include btn(157px, 44px);
	}

	&__title {
		font-size: 50px;
		line-height: 150%;
		text-transform: uppercase;
		margin-bottom: 41px;
	}

	&__title_show {
		display: block;
	}
}

.clicker-date {

	&__wrapper {
		position: absolute;
		right: 0;
		bottom: -50px;

		display: flex;
		align-items: center;
	}

	&__info {
		margin-right: 50px;
		font-weight: 600;
		font-size: 24px;
		color: var(--white-color);
	}

	&__clicker-container {
		button {
			width: 1em;
			background: inherit;
			color: inherit;
			font-size: inherit;
			transition: background-color .5s ease;
			border-radius: 15px;
			background-color: var(--secondary-greenish-color);

			&:hover {
				background-color: #135757;
			}
		}
	}

	&__counter {
		margin: 0 16px;
	}

	&__minus {
		&:disabled {
			background-color: #224e4e !important;
			color: gray !important;
		}
	}

	&__date {
		color: inherit;
		font-size: inherit;
	}

	&__btn {
		@include btn(157px, 44px);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}

.tour-booking {
	min-height: 161px;
	padding: 40px 42px;
	border-radius: 10px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.2);
	position: relative;

	&__form {
		display: flex;
	}

	&__input-wrapper {
		margin-right: 24px;
		display: flex;
		flex-direction: column;
		color: var(--white-color);
	}

	&__icon-container {
		position: relative;
	}

	&__input {
		width: 270px;
		height: 52px;
		padding: 0px 16px 0px 16px;
		margin-bottom: 8px;
		background: transparent;
		border-radius: 8px;
		border: 1px solid var(--white-color);
		color: var(--white-color);
		cursor: pointer;

		option {
			color: darkblue;
		}
	}

	&__arrow-icon {
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-70%);
	}

	&__input-custom::before {
		content: url('/icons/svg/formkit-date-icon.svg');
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__select-subtitle {
		padding-left: 8px;
	}

	&__form-btn {
		@include btn(213px, 52px, var(--black-color), var(--white-color));

		&:disabled {
			color: rgb(0, 0, 0);
			background-color: rgba(219, 219, 219, 0.397);
		}
	}

	&__live-input {
		position: absolute;
		bottom: -70px;
		display: flex;

		input::placeholder {
			color: white;
		}

		&__live-text {
			width: 300px;
			height: 20px;
			border-bottom: 1px solid white;
		}
	}
}

.test-control-flow {
	width: 1140px;
	border: 1px solid black;
	margin: 0 auto;

	&__card {
		margin-bottom: 20px;
		border: 1px solid purple;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #91f091;
	}

	&__img {
		width: 320px;
	}
}

.active {
	color: white;
	background: #943434;
}

.main {}

.about-campaign {
	padding-top: 100px;
	padding-bottom: 100px;

	&__wrapper {
		display: flex;
	}

	&__left-media-wrapper {
		min-width: 480px;
		min-height: 526px;
		margin-right: 120px;
		position: relative;
	}

	&__img {
		max-width: 350px;
		height: 400px;
		overflow: hidden;
		border-radius: 25px;
	}

	&__video-container {
		width: 350px;
		height: 400px;
		overflow: hidden;
		border-radius: 25px;
		position: absolute;
		top: 126px;
		left: 130px;
		cursor: pointer;

		&::after {
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 25px;
			background: url('/icons/svg/video-play-icon.svg') 50%/14px 15px no-repeat;
			background-color: rgba(253, 253, 253, 0.6);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__video {
		min-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	&__right-program-wrapper {
		padding: 64px 0;
	}

	&__subtitle {
		margin-bottom: 10px;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__historical-descr {
		margin-bottom: 40px;
		line-height: 150%;
	}

	&__btn {
		@include btn(200px, 52px);
	}
}


.advantages {
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: var(--section-bg-white-color);

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__left-program-wrapper {
		max-width: 580px;
		margin-right: 90px;
	}

	&__subtitle {
		margin-bottom: 10px;
	}

	&__title {
		margin-bottom: 42px;
	}

	&__descr {
		line-height: 150%;
		margin-bottom: 40px;
	}

	&__advantages-list {
		margin-bottom: 42px;
	}

	&__btn {
		@include btn(236px, 52px);
	}

	&__advantage-item {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		transition: all .5s ease;
		cursor: pointer;

		&:hover {
			transform: scale(1.05);
			box-shadow: 5px 5px 10px rgb(204, 204, 204);
		}
	}

	&__advantage-item-img {
		width: 50px;
		height: 50px;
		margin-right: 16px;
	}

	&__advantage-item-descr {}

	&__advantage-item-title {
		display: block;
		margin-bottom: 5px;
	}

	&__advantage-item-paragraph {
		line-height: 20px;
	}

	&__right-media-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 10px;
	}

	&__media-img {
		cursor: pointer;
		transition: all .5s ease;

		&:hover {
			transform: scale(1.05);
		}
	}


}

.loading-modal {
	display: none;

	&__wrapper {
		width: 400px;
		height: 200px;
		background-color: #fff;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 51px;
		height: 51px;
		animation-name: loading-arrows;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	&_active {
		width: 100%;
		height: 100%;
		background-color: rgba(109, 109, 109, 0.8);
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@keyframes loading-arrows {
	from {
		transform: rotate(0dg);
	}

	to {
		transform: rotate(-360deg);
	}
}