<ng-template #messageWrapper let-title="title" let-messageText="messageText" let-id="id">
	<div class="message">
		<img src="/icons/svg/message/message-letter-icon.svg" alt="message-icon" class="message__letter-icon">
		<div class="message__text-wrapper fz-16px white-clr">
			<div class="message__title fw-800">{{ title }}</div>
			<div class="message__descr fw-400">{{ messageText }}</div>
		</div>
		<button class="message__close-btn-wrapper" id="message-close-btn" (click)="closeMessage(id)">
			<img src="/icons/svg/message/message-close-icon.svg" alt="message-close-icon" class="message__close-btn-icon">
		</button>
	</div>
</ng-template>

@if ((this.messages$ | async)) {
	<div class="message__block-wrapper">
		@for (message of messages$ | async; track message.id) {
			<ng-container 
				*ngTemplateOutlet="
					messageWrapper; 
					context: {
						id: message.id,
						title: message.type, 
						messageText: message.message,
					}
				"
			></ng-container>	
		}	
	</div>
}