$relative-path-to-font: './fonts/Nunito-Sans';
$relative-path-to-font-italic: './fonts/Nunito-Sans/italic';

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans Regular'),
	local('Nunito-Sans-Regular'),
	local('NunitoSans-Regular'),
	local('NunitoSans Regular'),
	url('#{$relative-path-to-font}/NunitoSans-Regular.ttf') format('truetype'),
	url('#{$relative-path-to-font}/NunitoSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans SemiBold'),
	local('Nunito-Sans-SemiBold'),
	local('NunitoSans-SemiBold'),
	local('NunitoSans SemiBold'),
	url('#{$relative-path-to-font}/NunitoSans-SemiBold.ttf') format('truetype'),
	url('#{$relative-path-to-font}/NunitoSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans Bold'),
	local('Nunito-Sans-Bold'),
	local('NunitoSans-Bold'),
	local('NunitoSans Bold'),
	url('#{$relative-path-to-font}/NunitoSans-Bold.ttf') format('truetype'),
	url('#{$relative-path-to-font}/NunitoSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans ExtraBold'),
	local('Nunito-Sans-ExtraBold'),
	local('NunitoSans-ExtraBold'),
	local('NunitoSans ExtraBold'),
	url('#{$relative-path-to-font}/NunitoSans-ExtraBold.ttf') format('truetype'),
	url('#{$relative-path-to-font}/NunitoSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}



@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans Italic'),
	local('Nunito-Sans-Italic'),
	local('NunitoSans-Italic'),
	local('NunitoSans Italic'),
	url('#{$relative-path-to-font-italic}/NunitoSans-Italic.ttf') format('truetype'),
	url('#{$relative-path-to-font-italic}/NunitoSans-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans SemiBold Italic'),
	local('Nunito-Sans-SemiBold-Italic'),
	local('NunitoSans-SemiBoldItalic'),
	local('NunitoSans SemiBold Italic'),
	url('#{$relative-path-to-font-italic}/NunitoSans-SemiBoldItalic.ttf') format('truetype'),
	url('#{$relative-path-to-font-italic}/NunitoSans-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans Bold Italic'),
	local('Nunito-Sans-Bold-Italic'),
	local('NunitoSans-BoldItalic'),
	local('NunitoSans Bold Italic'),
	url('#{$relative-path-to-font-italic}/NunitoSans-BoldItalic.ttf') format('truetype'),
	url('#{$relative-path-to-font-italic}/NunitoSans-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans ExtraBold Italic'),
	local('Nunito-Sans-ExtraBold-Italic'),
	local('NunitoSans-ExtraBoldItalic'),
	local('NunitoSans ExtraBold Italic'),
	url('#{$relative-path-to-font-italic}/NunitoSans-ExtraBoldItalic.ttf') format('truetype'),
	url('#{$relative-path-to-font-italic}/NunitoSans-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}