$relative-path-to-font: './fonts/Nunito-Sans';

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans Regular'),
	local('Nunito-Sans-Regular'),
	local('NunitoSans-Regular'),
	local('NunitoSans Regular'),
	url('#{$relative-path-to-font}/NunitoSans-Regular.woff2') format('woff2'),
	url('#{$relative-path-to-font}/NunitoSans-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans SemiBold'),
	local('Nunito-Sans-SemiBold'),
	local('NunitoSans-SemiBold'),
	local('NunitoSans SemiBold'),
	url('#{$relative-path-to-font}/NunitoSans-SemiBold.woff2') format('woff2'),
	url('#{$relative-path-to-font}/NunitoSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: local('Nunito Sans ExtraBold'),
	local('Nunito-Sans-ExtraBold'),
	local('NunitoSans-ExtraBold'),
	local('NunitoSans ExtraBold'),
	url('#{$relative-path-to-font}/NunitoSans-ExtraBold.woff2') format('woff2'),
	url('#{$relative-path-to-font}/NunitoSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-display: swap;
}