@use './nullstyles.scss';
@use './fonts.scss';

* {
	font-family: 'Nunito Sans', sans-serif;
}

.container {
	width: 1180px;
	margin: 0 auto;
}

:root {
	--white-color: #FDFDFD;
	--black-color: #000000;
	--section-bg-white-color: rgba(243, 245, 244, 1);
	--secondary-greenish-color: #1A3E3E;
	--secondary-yellow-color: rgba(242, 190, 34, 1);
}

.white-clr {
	color: var(--white-color);
}

.black-clr {
	color: var(--black-color);
}

.section-bg-white-clr {
	color: var(--section-bg-white-color);
}

.greenish-clr {
	color: var(--secondary-greenish-color);
}

.yellow-clr {
	color: var(--secondary-yellow-color);
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.fw-800 {
	font-weight: 800;
}

.fz-14px {
	font-size: 14px;
}

.fz-16px {
	font-size: 16px;
}

.fz-18px {
	font-size: 18px;
}

.fz-24px {
	font-size: 24px;
}

.fz-32px {
	font-size: 32px;
}

.subtitle {
	font-weight: 400;
	font-size: 24px;
	color: var(--secondary-yellow-color);
}

.title {
	font-weight: 800;
	font-size: 32px;
}

input[type="date"]:invalid:not(:focus)::-webkit-datetime-edit {
	color: transparent;
}

input[type="date"]:invalid:not(:focus):before {
	content: attr(placeholder);
	color: #ffffff;
	position: absolute;
	left: 16px;
	font-weight: 700;
	font-size: 16px;
}

input[type="date"] {
	position: relative;
}